.CommunityPage {
  background-color: #ffffff;
  height: 2347px;
  position: relative;
<<<<<<< HEAD
  width: 1920px;
=======
  width: 100%;
>>>>>>> ca63ab59f84b3bee18722590476cbe8f39143013
}

.CommunityPage-frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 310px;
  position: absolute;
  top: 176px;
  width: 1300px;
}